{%  extends "tesis/base.html" %}

{% load static %}

{%  block content %}
    <div class="container">
<br><br>
        <h4 style="color: white">Autores:</h4>
        <p class="m-0 mbt">
            <h6 style="color: white">Programadores:</h6>
        	<p style="color: white"><i class="fa fa-user-circle-o"></i> BAJAÑA DIAZ ELENA DE LOS ANGELES</p>
        	<p style="color: white"><i class="fa fa-user-circle-o"></i> LOJA YAGUAL ROGELIO DAVID</p>
		</p>
        <p class="m-0 mbt">
            <h6 style="color: white">Tutor:</h6>
        	<p style="color: white"><i class="fa fa-user-circle-o"></i> Ph.D. FRANKLIN RICARDO PARRALES BRAVO</p>
                	<p style="color: white"><i class="fa fa-user-circle-o"></i> ING. MASTER JULIO BARZOLA MONTESES</p>
		</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
      </div>
    <br>
    <br>

{% endblock %}